# Kafka
KAFKA_NUM_PARTITIONS=6
KAFKA_REPLICATION_FACTOR=2
KAFKA_TOPIC=dados-sensores

# Sensores
INTERVALO_ENVIO=2
TEMP_MIN=20.0
TEMP_MAX=95.0
VIBR_MIN=0.1
VIBR_MAX=10.0

# Consumidores
GROUP_ID=processadores
TEMP_LIMITE=80.0
VIBR_LIMITE=8.0

# DB
DB_PATH=/data/alertas.db
